repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-shebang-scripts-are-executable
  - id: mixed-line-ending
    args: [--fix=auto]


- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v21.1.8
  hooks:
  - id: clang-format
    types_or: [c++, c, cuda]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.36.2
  hooks:
    - id: check-github-workflows
      args: ["--verbose"]
